/WebApi/EcisApi/bin/Debug/*
/WebApi/.vs/EcisApi/v16/.suo
/WebApi/EcisApi/obj
/WebApi/EcisApi/obj/*
/WebApi/EcisApi/obj/*
/WebApp/v3-admin-vite-main/pnpm-lock.yaml
/WebApp/v3-admin-vite-main/pnpm-lock.yaml
/WebApi/EcisApi/obj/*
/WebApi/.vs/*
/WebApi/.vs/*
